---
---

<nav class="flex items-center">
  <ul class="flex flex-col">
    <li class="mr-6">
      <a class="text-gray-700 hover:text-blue-800" href="/">Home</a>
    </li>
    <li class="mr-6">
      <a class="text-gray-700 hover:text-blue-800" href="/blog/">Blog</a>
    </li>
    <li class="mr-6">
      <a class="text-gray-700 hover:text-blue-800" href="/tags/">Tags</a>
    </li>
    <li class="mr-6">
      <a class="text-gray-700 hover:text-blue-800" href="/about/">About</a>
    </li>
  </ul>
</nav>
